<% if object.errors.any? %>
  <div class="alert-message block-message warning">
    <h2>Sorry, <%= pluralize(object.errors.count, "error") %> 
       occured: </h2>
    
  <!--  prohibited this <%= object.class.to_s.underscore.humanize.downcase %> 
        from being saved:</h2> -->
        
    <p>There were problems with the following:</p>
    <h5>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </h5>
  </div>
<% end %>
