<!DOCTYPE html>
<html>
  <head>
    <h1>Contact Us</h1>
  </head>
  <body>
    <p>In the event of any technical difficulties, the best way to reach us is through our Facebook</a> page.</p>
  </body>
</html>
